<div class="landing">
  <div class="col-lg-8 col-lg-offset-2 col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
    <div class="panel panel-default bootcards-summary">
      <div class="panel-heading">
        <h1>My Dashboard</h1>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-6 col-sm-4">
            <a class="bootcards-summary-item" href="#">
              <i class="fa fa-3x fa-shopping-cart"></i>
              <h2>Create an Order</h2>
            </a>
          </div>
          <div class="col-xs-6 col-sm-4">
            <a class="bootcards-summary-item" href="#">
              <i class="fa fa-3x fa-user"></i>
              <h2>Update Profile</h2>
            </a>
          </div>
          <div class="col-xs-6 col-sm-4">
            <a class="bootcards-summary-item" href="#">
              <i class="fa fa-3x fa-rupee"></i>
              <h2>My Payment History</h2>
            </a>
          </div>
          <div class="col-xs-6 col-sm-4">
            <a class="bootcards-summary-item" href="#">
              <i class="fa fa-3x fa-wrench"></i>
              <h2>View All Services</h2>
              <h4>View all services currently available.</h4>
            </a>
          </div>

          <div class="col-xs-6 col-sm-4">
            <a class="bootcards-summary-item" href="#">
              <i class="fa fa-3x fa-check-square-o"></i>
              <h2>Task Wishlist</h2>
              <h4>Don't see a service? Add it to the wishlist.</h4>
            </a>
          </div>
          <div class="col-xs-6 col-sm-4">
            <a class="bootcards-summary-item" href="#">
              <i class="fa fa-3x fa-pencil-square-o"></i>
              <h2>Write Review/Complaint</h2>
              <h4>Write a review on your past orders.</h4>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>