<div class="landing">
  <div class="col-lg-8 col-lg-offset-2 col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
    <div class="panel panel-default bootcards-summary">
      <div class="panel-heading">
        <h1>My Dashboard</h1>
      </div>
      <div class="panel-body">
        <div class="row">
          <% @landing_page_configs.each do |landing_page_config| %>
          <div class="col-xs-6 col-sm-4">
            <a class="bootcards-summary-item" href="#">
              <i class="fa fa-3x  <%= landing_page_config.fa_icon %> "></i>
              <h2><%= landing_page_config.header %></h2>
              <h4><%= landing_page_config.description %></h4>
            </a>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
